*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Futura',sans-serif;
    /* scroll-behavior: smooth; */
}

html,body{
    width: 100%;
    height: 100%;
}

/******************************************************************        NAVBAR       *********************************************************************/

nav{
    width: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

nav svg{
   margin-top: 2.5vh;
   width: 9vw;
}

.nav-part-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.nav-part-2 a{
    text-decoration: none;
    margin-right: 4vw;
}

.nav-2 i{
    margin-right: 4vw;
}

.nav-1{
    display: flex;
    justify-content: center;
}

.nav-2 {
    display: flex;
    justify-content: center;
}

/*************************************************************************   PAGE-1    *******************************************************************************/

.page-1{
    min-height: 100vh;
    width: 100%;
}

.page-1-text{
    margin-top: 7vh;
}

.page-1-text h1{
   font-size: 16.5vw;
   text-align: center;
   /* line-height: 25vh; */
   letter-spacing: -0.9vw;
  
}

.text{
    line-height: 12.4vh;
}

.video{
    margin-top: 10vh;
    object-fit: cover;
    margin-left: 1.5vw;
}

video{
    width: 98.5%;
}

.play{
    background: #000;
    color: #fff;
    position: fixed;
    padding: 30px 23px;
    border-radius: 50%;
    scale: 0;
    opacity: 0;
}

.hr-up{
     height: 1vh;
     width: 98.5%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 4vh;
     
}

.hr-up p{
    font-weight:400;
    font-family: sans-serif;
    font-size: 0.8vw;
    text-align: center;
    padding-left: 0.7vw;
    padding-right: 0.5vw;
}

hr{
    margin-top: 1vh;
    width: 97.5%;
    margin-left: 1.3vw;
    margin-right: 1vw;
    border-top: 0.1px solid #000;
}

.line{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/*************************************************************************   PAGE-2    *******************************************************************************/

.page-2{
    min-height: 80vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.5vh 1vw;
    justify-content: space-between;
    
}

.shop{
    height: 100%;
    width: 32.4%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

.shop .dits{
   position: absolute;
   background-color: #C3D8C5;
   height: 7vh;
   width: 60%;
   border-radius: 2vw;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.dits h1{
    padding-bottom: 2.9vh;
    font-size: 2.4vw;
}

.dits h3{
    /* padding-bottom: 2.9vh;/ */
    font-size: 0.8vw;
    font-family: sans-serif;
    font-weight: 300;
}

.dits h4{
    /* padding-bottom: 2.9vh;/ */
    font-size: 0.85vw;
    font-family: sans-serif;
    font-weight: 600;
}

.shop .dits-1{
    position: absolute;
    background-color: #F5DFCF;
    height: 7vh;
    width: 60%;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 }

.dits-1 h1{
    padding-bottom: 2.9vh;
    font-size: 2.4vw;
}

.dits-1 h3{
    /* padding-bottom: 2.9vh;/ */
    font-size: 0.8vw;
    font-family: sans-serif;
    font-weight: 300;
}

.dits-1 h4{
    /* padding-bottom: 2.9vh;/ */
    font-size: 0.85vw;
    font-family: sans-serif;
    font-weight: 600;
}

 .shop .dits-2{
    position: absolute;
    background-color: #FFFFFF;
    height: 7vh;
    width: 60%;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 }

 .dits-2 h1{
    padding-bottom: 2.9vh;
    font-size: 2.4vw;
}

.dits-2 h3{
    /* padding-bottom: 2.9vh;/ */
    font-size: 0.8vw;
    font-family: sans-serif;
    font-weight: 300;
}

.dits-2 h4{
    /* padding-bottom: 2.9vh;/ */
    font-size: 0.85vw;
    font-family: sans-serif;
    font-weight: 600;
}

/*************************************************************************   PAGE-3    *******************************************************************************/

.page-3{
    min-height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 6vh;
}

 .page-3 h2{
    width: 70%;
    font-size: 3.5vw;
    line-height: 8vh;
    gap: -0.5vw;
    margin-left: 2vw;
}

.page-3 .shop-to-support{
    width: 30%;
    margin-right: 6vw;
    font-size: 1.05vw;
    color: #000000;
    line-height: 3.8vh;
    font-weight: 400;
}

.page-3 .shop-to-support p{
    font-family: sans-serif;
}

.page-3 .shop-to-support .p1{
    margin-top: 4vh;
} 

.page-3 .shop-to-support .p2{
    margin-top: 4vh;
    font-size: 0.9vw;
    font-weight: 100;
    /* border-bottom: 1px solid black; */
    position: relative;
} 

.page-3 .shop-to-support .p2::after{
    content:'' ;
    position: absolute;
    width: 31%;
    background-color: black;
    height: 0.1vh;
    left: -0;
    bottom: -0;
    transition:0.3s;
}

.page-3 .shop-to-support .p2:hover::after{
    width: 0%;
}

/*************************************************************************   PAGE-4    *******************************************************************************/

































































































