*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Futura';
    scroll-behavior: smooth;
}

html,body{
    width: 100%;
    height: 100%;
}

/******************************************************************        NAVBAR       *********************************************************************/

nav{
    width: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

nav svg{
   margin-top: 2.5vh;
   width: 9vw;
}

.nav-part-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.nav-part-2 a{
    text-decoration: none;
    margin-right: 4vw;
}

.nav-2 i{
    margin-right: 4vw;
}

.nav-1{
    display: flex;
    justify-content: center;
}

.nav-2 {
    display: flex;
    justify-content: center;
}

/*************************************************************************   PAGE-1    *******************************************************************************/

.page-1{
    min-height: 100vh;
    width: 100%;
}

.page-1-text{
    margin-top: 7vh;
}

.page-1-text h1{
   font-size: 16.5vw;
   text-align: center;
   /* line-height: 25vh; */
   letter-spacing: -0.9vw;
  
}

.text{
    line-height: 12.4vh;
}

.video{
    margin-top: 10vh;
    object-fit: cover;
    margin-left: 1.5vw;
}

video{
    width: 98.5%;
}

.play{
    background: #000;
    color: #fff;
    position: fixed;
    padding: 30px 23px;
    border-radius: 50%;
    scale: 0;
    opacity: 0;
}

.hr-up{
     height: 1vh;
     width: 98.5%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 4vh;
     
}

.hr-up p{
    font-weight:400;
    font-family: sans-serif;
    font-size: 0.8vw;
    text-align: center;
    padding-left: 0.7vw;
    padding-right: 0.5vw;
}

hr{
    margin-top: 1vh;
    width: 97.5%;
    margin-left: 1.3vw;
    margin-right: 1vw;
    border-top: 0.1px solid #000;
}

.line{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/*************************************************************************   PAGE-2    *******************************************************************************/

.page-2{
    min-height: 80vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.5vh 1vw;
    justify-content: space-between;
    
}

.shop{
    height: 100%;
    width: 32.4%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

.shop-1{
    height: 100vh;
    width: 100%;
}

















































































































